.social-media-buttons {
    color: grey;
}

.social-media-buttons:hover {
    color: rgb(40, 216, 99);
    transition: color 0.2s;
}

.page {
    display: none;
}

.active {
    display: flex;
}

.footer-heading {
    font-weight: 700;
    font-size: 28;
}

.footer-heading-2 {
    font-weight: 700;
    font-size: 24;
}

.light-grey-text {
    color: grey;
}

.lighter-grey-text {
    color: #c0c0c0;
}

.footer-link {
    text-decoration: none;
    border: none;
}

.footer-link:hover {
    color: rgb(40, 216, 99);
    transition: color 0.2s;
}

#add-project-button {
    background-color: rgb(19, 236, 19);
}

#add-project-button:hover {
    background-color: rgba(19, 236, 19, 0.521);
    transition: color 0.3s;
}

#create-project-button {
    background-color: rgb(19, 236, 19);
}

#create-project-button:hover {
    background-color: rgba(19, 236, 19, 0.521);
    transition: color 0.3s;
}

.btn.active-category {
    color: white;
}

#category1.active-category.category {
    background-color: black;
}

#category2.active-category.category {
    background-color: rgb(106, 212, 106);
}

#category3.active-category.category {
    background-color: rgb(104, 179, 250);
}

#category4.active-category.category {
    background-color: rgb(245, 202, 122);
}

