.social-media-buttons {
    color: grey;
}

.social-media-buttons:hover {
    color: rgb(40, 216, 99);
    transition: color 0.2s;
}

.page {
    display: none;
}

.active {
    display: flex;
}

.footer-heading {
    font-weight: 700;
    font-size: 28;
}

.footer-heading-2 {
    font-weight: 700;
    font-size: 24;
}

.light-grey-text {
    color: grey;
}

.lighter-grey-text {
    color: #c0c0c0;
}

.footer-link {
    text-decoration: none;
    border: none;
}

.footer-link:hover {
    color: rgb(40, 216, 99);
    transition: color 0.2s;
}

.add-project-button {
    
}

.add-project-button:hover {
    background-color: rgb(39, 58, 39);
    transition: color 0.2s;
}