* {
    background-color: white;
}

.footer-heading {
    font-weight: 700;
    font-size: 28;
}

.footer-heading-2 {
    font-weight: 700;
    font-size: 24;
}

.light-grey-text {
    color: grey;
}

.lighter-grey-text {
    color: #c0c0c0;
}

.footer-link:hover {
    color: rgb(40, 216, 99);
    transition: color 0.2s;
}

.add-project-button {
    background-color: #13EC13;
}

.add-project-button:hover {
    background-color: rgb(39, 58, 39);
    transition: color 0.2s;
}